<h1>Display your Pirate here</h1>
<h2>Pirate name: <%= @pirate.name %></h2>
<h2>Pirate weight: <%= @pirate.weight %></h2>
<h2>Pirate height: <%= @pirate.height %></h2>


<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
<% end %>
